{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h5>Vision</h5>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor autem eum consectetur totam id, ut nisi. Delectus recusandae voluptatibus sit illo impedit culpa cumque voluptates similique quibusdam. Voluptates, quia!
    </p>

    <h5>Mission</h5>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nihil quia laborum, voluptate vel officia id asperiores nam odit expedita, beatae eligendi aliquam vero mollitia consectetur saepe sit, atque commodi?
    </p>
</div>
{% endblock %}