{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="slider myslider">
    <ul class="slides">
        <li>
            <img src="{% static 'image9.jpg' %}"> <!-- random image -->
            <div class="caption center-align">
              <h3>Safe Space for Women and Girls initiative</h3>
              <h5 class="light grey-text text-lighten-3">Giving women and girls voices</h5>
            </div>
          </li>
      <li>
        <img src="{% static 'image8.jpg' %}"> <!-- random image -->
        <div class="caption center-align">
          </div>
      </li>
      <li>
        <img src="{% static 'image5.jpg' %}"> <!-- random image -->
        <div class="caption left-align">
          <h3>Registered since 2017</h3>
          <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div> -->
      </li>
      
    
    </ul>
  </div>

  <div class="container">
    <section class="row" style="margin-top: 10%;">
      <article class="col s12 m6 l6">
        <img src="{% static 'who.PNG' %}" alt="">
      </article>
      <article class="col s12 m6 l6 center">
        <h5>Who we are</h5>
        <p>Safe Space Women & Girls is a local community based organisation, legally registered since 2017 and anchored on community participation towards addressing challenges that exist or emerge within the rural populations of West Pokot County.
          Our community-based, participatory program reflects a bottom-up approach to social and economic development of women and girls within the community. Through local leadership and a strong record of adaptation and innovation using community participation approach, Safe Space Women and Girls Initiative has been recognized as evidence-based and cost effective in alleviation of human suffering.<br><a href="/who" class="orange btn-small">More</a>
        
        </p>
      </article>
    </section>
    <hr>
    <section class="row">
      <article class="col s12 m6 l6 center">
        <h5>Where we Work</h5>
        <p>We currently operate in West Pokot County, with presence in all the administrative divisions of Alale, Chepareria, Chesegon, Kacheliba, Kapenguria, Kasei, Kongelai, lelan and Sigor.  
West Pokot is one of remotest regions in Kenya, with very serious challenges such as drought, gender based violence, highest poverty levels in the region, cattle rustling and poor infrastructure.
This region has been left behind for so long due to its remoteness, violence and drought, thus most donor and even the government has shied away from supporting the region. But we ask you to come and join us change this narrative.
<br><a href="{% url 'where' %}" class="orange btn-small">More</a>  </p>
        
      </article>
      <article class="col s12 m6 l6">
        <img style="width:100%;margin-top:10%;" src="{% static 'where.PNG' %}" alt="">
      </article>
    </section>

    <hr>

    <section class="row">
      <article class="col s12 m6 l6">
        <div class="slider slider2">
          <ul class="slides">
            <li>
              <img src="{% static 'impact1.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'impact5.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'impact7.jpg' %}"> <!-- random image -->
            </li>
            <li>
              <img src="{% static 'impact8.jpg' %}"> <!-- random image -->
            </li>
          </ul>
        </div>
            
      </article>
      <article class=" center col s12 m6 l6">
        <h5>Our Impact</h5>
        <p>We address the basic levels of human survival. 

          Over the years we have seen tremendous change in the regions where our program has intervened. Last year 2021 was our most challenging and still most rewarding. With the dire drought we managed to feed 350 families, with an average of seven per household. We are also supporting 43 girls who are in various institutions of learning. On health we have organized over 10 medical camps, and this year 2022 we are looking forward to supporting medical personnel.
          We have also reached over 400 women with our entrepreneurship program, where they have started savings groups with immense success.
          </p>
      </article>
    </section>
    
  </div>
  <hr>

  <h5  class="center">GALLERY</h5>
  <section class="gallery row container">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'image4.jpg' %}" alt="">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'image6.jpg' %}" alt="">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'image7.jpg' %}" alt="">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'impact8.jpg' %}" alt="">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'impact7.jpg' %}" alt="">
    <img class="col s12 m4 l4 responsive-img" src="{% static 'impact5.jpg' %}" alt="">
  </section>
{% endblock %}