{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="main container center">
    <h4>WHERE WE WORK</h4>
    <p>We currently operate in West Pokot County, with presence in all the administrative divisions of Alale, Chepareria, Chesegon, Kacheliba, Kapenguria, Kasei, Kongelai, lelan and Sigor.  
        West Pokot is one of remotest regions in Kenya, with very serious challenges such as drought, gender based violence, highest poverty levels in the region, cattle rustling and poor infrastructure.
        This region has been left behind for so long due to its remoteness, violence and drought, thus most donor and even the government has shied away from supporting the region. But we ask you to come and join us change this narrative.
        We work in the thematic areas of Food Security through drought management, Education for the girl child, Health and Sanitation and economic empowerment.</p>
        

    <hr>
    <div class="row">
        <section class="">
            <img src="{% static 'food.jpg' %}" class="whereimg" alt="">
            <h4>Food Security through drought management </h4>
            <p>Food and water are essential for human survival, they come before enterprises could be formed or any structured existence. We as an organization recognized this need, with persistent drought in West Pokot this thematic area became one of the main pillars of providing support to the community.
                We have witnessed over the years unwarranted loss of life, women and children climbing trees like animals to feed on wild fruits and berries. Which sometimes are poisonous or deadly falls occur all in the name of looking for food. Thus, we decided to be part of the solution. No human should live like this.
                Through tailored food distribution, school feeding programs, supporting agribusiness and market systems approach we have been able to support over 1000 families.
                West Pokot especially the northern, central and eastern part are primarily arid, with the communities mainly engaging in livestock rearing and minimal agriculture in areas where there are seasonal rivers.
                Our research from 12 primary schools shows, providing feeding at school has increased enrolment and retention of children in schools exponentially. Parents actually are more willing to release their children to schools, rather than stay home hungry and unattended to.
                You can be part of the change by supporting this program and not letting your brother or sister die of hunger in a world of plenty.
                </p>
        </section>
        <section class="image-box">
            <div class="image-card">
                <img src="{% static 'foodsec1.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec2.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec3.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec4.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec5.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec6.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec7.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'foodsec8.jpg' %}" alt="">
            </div>
        </section>
        <hr>
        <section class="edu">
            <img src="{% static 'education.jpg' %}" class="whereimg" alt="">
            <h4>Education for the Girl Child</h4>
            <h5>Sponsorship Program</h5>
            <p>It is a common saying in our African culture that if you educate a child you educate a whole community. As an organization we have experienced this first hand. Through donors we sponsor girls to stay in school from primary school to university. By providing the girls directly with school fees, school uniforms, books, sanitary towels and a safe home where the parents nomadic or the girl is in danger. 
                With context of West Pokot in mind, compounding factors such as highest poverty levels in the country, aridity of the region, cattle rustling, poorest infrastructure and remoteness of the region has made access to education a luxury.  
                Backward cultural practices like early marriage have really worked against girls in this region, with livestock being seen as wealth parents end up exchanging their daughters for a few cows. 
                </p>
            <h5>Teacher Training and equipping schools</h5>
            <p>With the challenges highlighted about the region it goes without mentioning that some of the schools are in deplorable situations. Thus, we as Safe Space take a step further and work with interested parties to train teacher in modern pedagogical, participatory teaching approaches. We also support schools in acquiring water tanks, computers, play items, study books and sports equipment. Ensuring the learning environment eases the pressure from the innocent children. 
                Sponsor a child, support a school; Join us in this mission and let children be educated, ignorance is a disease.
                </p>
        </section>

        <section class="image-box">
            <div class="image-card">
                <img src="{% static 'edu1.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'edu2.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'edu3.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'edu4.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img src="{% static 'edu5.jpg' %}" alt="">
            </div>
            <div class="image-card">
                <img class="materialboxed" src="{% static 'edu6.PNG' %}" alt="">
            </div>
        </section>
        <hr>
        <section class="">
            <img src="{% static 'health.jpg' %}" class="whereimg" alt="">
            <h4>Health, Water and Sanitation </h4>
            <p>Medical facilities are rare in West Pokot, we mainly have dispensaries which are always under equipped and under staffed. The tough conditions always scare way qualified personnel nurses, laboratory technicians and doctors, if by chance one is available. 
                How do we support in this area?, We always organize medical camps through partnership with other medical facilities in other regions and medical personnel. As a longer term solution we hire medical personnel and post them in the available centers to provide medical care. In some cases we have had donors and well-wishers buy medical equipment and drugs.
                This are has been a success, with the onset of COVID-19, we were able to work with community very well. Conditions such as Fistula are common in this region due to female genital mutilation, we work with donors and other medical facilities for corrective surgeries. Our mothers and daughters should not be left to suffer and we help.
                Health care is a human right, not a luxury. Your support can go a long way lets reverse this trends.
                </p>
        </section>
        <hr>
        <section>
            <img src="{% static 'economic.jpg' %}" class="whereimg" alt="">
            <h4>Economic Empowerment</h4>
            <p>We envision this households would be sustainable at some point. Thus we work with the women through a three tire economic empowerment program. a). We provide tailored entrepreneurial training for them to start and run informal micro-enterprises. b). We then provide capital per household to support an enterprise of their choice, of course taking into account the profitability and suitability of the enterprise. c). We have designed a tailored mentoring where we walk with the entrepreneurs through the business journey. Part of this mentoring involves forming saving groups at the village level as a financial inclusion strategy. </p>
        </section>
    </div>
</div>
{% endblock %}