{% extends 'layout.html' %}
{% block content %}
<div class="main container center row">
    <section class="col s12 m6 l6">
        <h4>WHO WE ARE</h4>
    <p>Safe Space Women & Girls is a local community based organisation, legally registered since 2017 and anchored on community participation towards addressing challenges that exist or emerge within the rural populations of West Pokot County.
        Our community-based, participatory program reflects a bottom-up approach to social and economic development of women and girls within the community. 
    .Through local leadership and a strong record of adaptation and innovation using community participation approach, Safe Space Women and Girls Initiative has been recognized as evidence-based and cost effective in alleviation of human suffering.
        This initiative was solely started by women who started with their own meagre resources to ensure women and girls voices are heard and their wellbeing is addressed.
        While other organisations spend trillion of dollars in overheads, we make sure that 90% of all our donations go directly to the deserving populations.
        As an organisation we have in the past few years worked with extremely poor communities and in vast and very arid setups that other organisations do not want to go to. We recognise the need, and with a passionate, dedicated team members and a willing community we strive and bring change in every small way.
        </p>
    </section>

    <section class="col s12 m6 l6">

    </section>
    
</div>
{% endblock %}