{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="main container center row">
    <section class="col s12 m6 l6">
        <h4>WHO WE ARE</h4>
    <p>Safe Space Women & Girls is a local community based organisation, legally registered since 2017 and anchored on community participation towards addressing challenges that exist or emerge within the rural populations of West Pokot County.
        Our community-based, participatory program reflects a bottom-up approach to social and economic development of women and girls within the community. 
    .Through local leadership and a strong record of adaptation and innovation using community participation approach, Safe Space Women and Girls Initiative has been recognized as evidence-based and cost effective in alleviation of human suffering.
        This initiative was solely started by women who started with their own meagre resources to ensure women and girls voices are heard and their wellbeing is addressed.
        While other organisations spend trillion of dollars in overheads, we make sure that 90% of all our donations go directly to the deserving populations.
        As an organisation we have in the past few years worked with extremely poor communities and in vast and very arid setups that other organisations do not want to go to. We recognise the need, and with a passionate, dedicated team members and a willing community we strive and bring change in every small way.
        </p>
    </section>

    <section class="col s12 m6 l6">
        <img src="{% static 'favicon.png' %}">
    </section>
    
</div>
<hr>
<div class="container center">
    <h5>Vision</h5>
    <p>To work hand in hand with most vulnerable communities to overcome poverty, social injustice and alleviate human suffering.</p>
    <h5>Mission</h5>
    <p>Our mission is to promote gender equality and enhance the well-being of girls and women through education, health, and economic empowerment initiatives. We strive to keep girls in school and empower women through micro-enterprise development, ensuring their right to food/nutrition, water, and promoting access to humanitarian health services.</p>
    <h5>Our Goal</h5>
    <p>Our ultimate goal is to create a world where every girl and woman has the opportunity to reach her full potential and live a fulfilling life.</p>
    <h5>CORE VALUES</h5>
    <ul>
        <li>Respect to human dignity</li>
        <li>Solidarity and giving hope to those we serve</li>
        <li>Moral and ethical integrity.</li>
        <li>Impartiality and equity</li>
        <li>Transparency and accountability to stakeholders.</li>
    </ul>
</div>
{% endblock %}